:root {
    --background: #d0d0d0;
    --line: #b3b0b0;
    --foreground: #000000;
    --link-color: #0000ff;
    --font-size-base: 20px;
    --font-size-small: 16px;
    --font-stack-serif: 'times new roman', times, serif;
    --font-stack-mono: 'courier new', courier, monospace;
}

* {
    box-sizing: border-box;
}

*::-moz-selection { /* Code for Firefox */
    background: var(--line);
  }
  
  *::selection {
    background: var(--line);
  }

html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0;
    padding: 0;
    background: var(--background);
    font-size: var(--font-size-base);
    font-family: var(--font-stack-serif)
}

@media (max-width: 800px) {
    body {
        line-height: 1.3em;
    }  
}

h1, h2, h3 {
    font-size: var(--font-size-base);
}


a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

a:visited {
    color: var(--link-color);
}

.section {
    border-bottom: 1px solid var(--line);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.placeholder {
    font-family: var(--font-stack-mono);
    font-size: var(--font-size-small);
}