:root {
    --background: #ffffff;

    --line: #b3b0b0;
    --clock-color: #000000;

    --foreground: #000000;
    --foreground-muted: #666666;
    --link-color: #0000ff;

    /* Table colors */
    --table-border-color: #000;
    --table-header-bg: #ccc;
    --table-header-border: #eee;
    --table-row-even-bg: #f0f0f0;
    --table-row-hover-bg: #e0e0e0;

    --archive-border-color: var(--table-header-bg);

    --font-size-base: 20px;
    --font-size-small: 16px;
    --font-size-large: 24px;
    --font-stack-serif: 'times new roman', times, serif;
}

* {
    box-sizing: border-box;
}

*::-moz-selection {
    /* Code for Firefox */
    background: var(--line);
}

*::selection {
    background: var(--line);
}

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    margin: 0;
    padding: 0;
    background: var(--background);
    font-size: var(--font-size-base);
    font-family: var(--font-stack-serif);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: darkmagenta;
}

button {
    padding: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-size-base);
    margin-bottom: 1em;
    border-radius: 0;
    border: 1px solid var(--foreground);
    color: var(--foreground);
    user-select: none;
    background-color: var(--table-row-hover-bg);
}

button:hover {
    background-color: var(--table-header-bg);
}

button:active {
    background-color: var(--table-row-even-bg);
}

.table-title {
    font-size: var(--font-size-large);
    margin: 1em 0 0.5em 0;
    color: var(--table-border-color);
}
